@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap');

:root {
    --primary-grey: #f6f6f6;
    --primary-dark-grey: rgb(131, 131, 131);
    --primary-orange: #fa5400;
}

*{
    margin: 0;
    font-family: 'Lato','Montserrat', sans-serif;
}

html::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

html::-webkit-scrollbar:hover {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark-grey);
}

html::-webkit-scrollbar-track {
    background-color: var(--primary-grey);
}

html, body {
    height: 100%;
    width: 100%;
}

.appbar {
    width: 100%;
}

.auth-bar{
    width: 100%;
    height: 2.5rem;
    background-color: var(--primary-grey);
}
.nav-bar {
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infos-covid {
    width: 100%;
    height: 4rem;
    background-color: var(--primary-grey);
    border-bottom: 1px solid #e1dfdf;
}
.infos-utils {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 35px;
    font-size: 15px;
}

.infos-utils div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 2.5rem;
    cursor: pointer;
    margin-right: 10px;
}

.infos-utils div:first-child {
    width: 5rem;
}

.infos-utils div:hover {
    background-color: white;
}

.items-center {
    display: flex;
    height: 100%;
    justify-content: center;
    align-self: center;
}

.items-center div {
    height: 4rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .8rem;
    cursor: pointer;
}

.items-center div #home {
    text-decoration: none;
    color: black;
}

.items-center div:hover {
    border-bottom: 2px solid black;
}

.item-left {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Abril Fatface';
    margin-left: 40px;
    width: 8%;
    text-align: center;
    margin-right: 12%;
    cursor: pointer;
}

.items-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

.searchBox {
    background-color: var(--primary-grey);
    margin-right: 20px;
}

.items-right div #outlined-search {
    height: .2rem;
}

.items-right-icon .icon-favorites {
    margin-right: 20px;
    cursor: pointer;
}

.items-right .icon-bag {
    cursor: pointer;
}

.icon-favorites:hover, .icon-bag:hover {
    border-radius: 50%;
    padding: 5px;
    background-color: var(--primary-grey);
}

.covid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

.covid div {
    margin-right: 10rem;
}

.covid div a {
    color: black;
}

.covid div:last-child {
    margin-right: 0px;
}

.covid .icon{
    color: var(--primary-dark-grey);
    cursor: pointer;
    height: 25px;
    padding: 2px;
    border-radius: 50%;
}

.covid .icon:hover {
    color: black;
}

.covid-content {
    text-align: center;
}

/**************************************/

.app, .app-header, .app-content {
    height: 100%;
    width: 100%;
}

.content-header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    margin-left: 50px;
    font-size: 22px;
    font-weight: bold;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.header-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-indent: 5px;
    cursor: pointer;
}

.right-icon {
    margin-top: 4px;
}

/***************/
.content-body {
    display: flex;
    justify-content: start;
    padding-left: 50px;
    /* padding-right: 30px; */
    flex-wrap: wrap;
    height: 100%;
    width: 96.5%;
    /* background-color: red; */
}

.loading-product {
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#circular-progress {
    margin-right: 20px;
    color: var(--primary-orange);
}

.product-card {
    height: fit-content;
    width: 30.5rem;
    margin-right: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}

.choose-size {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /* background-color: red; */
    height: fit-content;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

.size-c, .active {
    width: 22%;
    /* background-color: yellow; */
    border: 1px solid var(--primary-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    height: 2.5rem;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.active {
    background-color: black;
    color: white;
}

.size-c:hover, .size-c:focus {
    background-color: var(--primary-grey);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.link {
    color: var(--primary-dark-grey);
}

.link:hover {
    color: black;
}

.link-bag {
    color: black;
}

.product-card .product-img {
    width: 100%;
    height: 32.5rem;
    margin-bottom: 10px;
    background-color: var(--primary-grey);
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.product-img img {
    height: 100%;
    width: 100%;
}

#category, #category1, #product_name, #couleur {
    margin-bottom: 5px;
}

#product_name, #prix {
    color: black;
}

.product-details #category {
    color: var(--primary-orange);
}

.product-details #category1, #couleur {
    color: #757575;
}

.product-details #couleur {
    margin-bottom: 10px;
}

.content-footer {
    position: absolute;
    bottom: 5;
    height: 15rem;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
}

.content-footer-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}

.footer-box {
    height: 15rem;
    width: 93.5%;
    display: flex;
    justify-content: space-between;
}

.footer-box-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box-left div {
    margin-right: 5rem;
    height: 10rem;
}

.footer-box-left div p {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-box-left div:first-child,
#uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-box-left div:last-child,
.footer-box-right div:last-child {
    margin-right: 0px;
}

.left-item2:first-child, .left-item3:first-child {
    text-transform: uppercase;
}

#grey-color, .social-media {
    color: var(--primary-dark-grey);
}

.footer-box-right {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.footer-box-right div {
    margin-right: 10px;
    cursor: pointer;
}

.social-media:hover,
#grey-color:hover,
.utils p:hover,
.second-utils-right p:hover {
    color: white;
}

.divider {
    width: 95%;
    height: 1px;
    margin-left: 2.5%;
    background-color: gainsboro;
    opacity: 0.2;
    margin-bottom: 10px;
}

.utils {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    color:var(--primary-dark-grey);
    margin-bottom: 15px;
}

.utils p {
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}

.utils p:last-child {
    margin-right: 0px;
}

.second-utils {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 93.7%;
    margin-left: 3.2%;
    color: var(--primary-dark-grey);
}

.second-utils-left, .second-utils-right {
    display: flex;
    width: 50%;
}

.second-utils-left {
    justify-content: flex-start;
}

.second-utils-right {
    justify-content: flex-end;
    cursor: pointer;

}

.second-utils-left p, .second-utils-right p {
    margin-right: 22px;
}

.second-utils-left p:last-child, .second-utils-right p:last-child {
    margin-right: 0px;
}

.second-utils-left p:last-child, .second-utils-right p:last-child {
    margin-right: 0px;
}

/* */

.login-container, .login-form {
    width: 100%;
}

.login-form {
    color: var(--primary-dark-grey);
    text-align: center;
}

.login-header {
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#message1 {
    font-size: 15px;
    color: var(--primary-dark-grey);
}

#message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#sneakers {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Abril Fatface';
    margin-bottom: 10px;
}

.login-form div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

#email, #password {
    height: .2rem;
}

#button {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    box-shadow: none;
    margin-bottom: 25px;
    font-weight: bold;
    cursor: pointer;
}

#button:disabled {
    opacity: 0.8;
}

#forgot-password {
    margin-top: 15px;
    margin-bottom: 25px;
}

#another {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.login-container a {
    color: var(--primary-dark-grey);
}

.login-form:last-child {
    margin-bottom: 20px;
    font-size: 15px;
}

#register {
    color: black;
}

.gender {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: var(--primary-dark-grey);
}

/* Shopping Cart */
.container {
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 30px;
    flex-wrap: wrap;
    height: 100%;
}

.empty-cart {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--primary-dark-grey);
}

.back-to-home {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    color: var(--primary-dark-grey);
}

.back-to-home:hover {
    color: black;
    cursor: pointer;
}

.container-details-products {
    width: 45%;
    height: fit-content;
    /* background-color: red; */
    margin-right: 20px;
}

.container-details {
    width: 25%;
    padding: 0px 20px 20px 20px;
}

.container-details-products .infos-livraison {
    border: 1px solid gainsboro;
    padding: 10px;
    text-align: justify;
    height: fit-content;
    margin-bottom: 10px;
}

.container-details-products .infos-livraison h3 {
    margin-bottom: 5px;
    color: var(--primary-orange);
}

/**/
.cart-product-details {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-product-details .img {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

.small_image {
    /* background-color: yellow; */
    width: 30%;
}

.cart-product-details .img img {
    max-width: 100%;
    max-height: 80%;
    /* margin-right: 30px; */
    /* min-height: 80%; */
    cursor: pointer;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.details {
    padding-top: 10px;
    /* background-color: red; */
}

.cart-options a, .details {
    color: var(--primary-dark-grey);
}

.cart-product-details .img .details p {
    margin-bottom: 10px;   
}

.cart-product-details .img .details div {
    display: flex;
    justify-content: space-between;
}

#size {
    margin-right: 10px;
}

.cart-product-details .img .details .margin-bottom {
    margin-bottom: 20px;
}

.time-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #c5af06;
}

.container-details h2 {
    margin-bottom: 20px;
}

.container-details div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#payment, #secondPayment {
    width: 100%;
    border-radius: 40px;
    background-color: black;
    box-shadow: none;
    height: 4rem;
    color: white;
    font-weight: bold;
}

#payment:hover, #secondPayment:hover {
    opacity: 0.8;
}

#payment:disabled, #secondPayment:disabled {
    opacity: 0.5;
}

/* PAYMENT */
.payment-container {
    height: fit-content;
    width: 100%;
}

.payment-left-container {
    height: fit-content;
    width: 100%;
}

.left-container {
    width: 100%;
    height: 100%;
}

.left-container-padding {
    padding: 0px 20px 20px 20px;
}

.payment-left-container h4 {
    height: fit-content;
    padding: 10px;
    background-color: black;
    color: white;
}

#customized-dialog-title div {
    width: 100%;
    text-align: center;
}

#customized-dialog-title h3 {
    font-family: 'Abril Fatface';
    width: 100%;
}

.payment-left-container .flex-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment-container .flex-box .flex-box-item {
    width: 100%;
    margin-right: 20px;
    font-family: 'Lato','Montserrat', sans-serif;
}

.payment-container .flex-box .flex-box-item:last-child {
    margin-right: 0px;
}

.input-mask-div {
    margin-right: 10px;
}

.input-mask {
    height: 2.2rem;
    font-size: 16px;
    width: 92%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    padding-left: 15px;
}

.input-mask:hover {
    border: 1px solid rgb(192, 192, 192);
}

::placeholder {
    opacity: .7;
  }

.payment-container .normal-box {
    margin-bottom: 20px;
}

.payment-box {
    border: 1px solid rgb(192, 192, 192);
    height: 25px;
    border-radius: 5px;
    padding: 10px 0px 0px 15px;
}

.payment-box:hover {
    border-color: black;
}

.payment-box:focus {
    background-color: red;
}

.payment-container .normal-box .normal-box-item {
    width: 100%;
}

.flex-end-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.flex-end-box .flex-end-box-item {
    background-color: var(--primary-orange);
    box-shadow: none;
    color: white;
    height: 2.5rem;
    font-weight: bold;
}

.flex-end-box .flex-end-box-item:hover {
    background-color: var(--primary-orange);
    opacity: 0.8;
    box-shadow: none;
    color: white;
    height: 2.5rem;
    font-weight: bold;
}

.infos-comp {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: var(--primary-dark-grey);
}

/* Product Details */
.details-produit {
    width: 100%;
    height: fit-content;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-produit {
    width: 65%;
    height: fit-content;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.infos-produit {
    width: 30%;
    height: fit-content;
    /* background-color: red; */
    padding-top: 50px;
}

.image-produit .image-item {
    width: 40%;
    height: 32rem;
    /* background-color: red; */
    margin-bottom: 15px;
}

.image-item img {
    width: 100%;
    height: 100%;
    margin: auto;
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
}

.button-div {
    width: 90%;
}

.button-div .panier {
    margin-bottom: 10px;
}

#add-favorite {
    width: 100%;
    border: 2px solid var(--primary-grey);
    border-radius: 40px;
    background-color: white;
    box-shadow: none;
    height: 4rem;
    color: black;
    font-weight: bold;
    margin-bottom: 50px;
}

#add-favorite:hover {
    border: 4px solid var(--primary-grey);
}

#details-description {
    text-align: justify;
    margin-bottom: 30px;
    line-height: 30px;
}

#livraison-gratuite {
    text-align: justify;
    line-height: 20px;
    margin-bottom: 40px;
}

#livraison-gratuite p {
    margin-left: 20px;
    margin-bottom: 20px;
}

#livraison-gratuite p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

#livraison-gratuite p a:hover {
    border-bottom: 2px solid black;
}

#star {
    display: flex;
    justify-content: start;
}

#livraison-gratuite ul li {
    margin-bottom: 10px;
}

#list-item-button {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 950px) {
    .MuiSelect-nativeInput css-yf8vq0-MuiSelect-nativeInput{
        width: 100%;
    }
    .appbar,
    .nav-bar,
    .infos-covid, 
    .covid,
    .content-header {
        width: 100%;
    }
    .auth-bar, .items-center, .searchBox, .infos-covid .icon {
        display: none;
    }
    .items-right {
        margin-right: 20px;
    }
    .item-left {
        margin-left: 20px;
    }
    .infos-covid, .covid {
        height: 6rem;
        text-align: center;
    }
    .covid div {
        margin-right: 0;
    }

    /* content */
    .header-left {
        margin-left: 20px;
        font-size: 18px;
    }
    .header-right {
        margin-right: 0;
    }
    .header-right-item {
        display: none;
    }

    .filter {
        display: flex;
    }

    /* footer */
    .content-footer {
        width: 100%;
        height: fit-content;
    }
    .left-item2, .left-item3 {
        display: none;
    }
    .second-utils {
        width: 40rem;
    }
    .second-utils, 
    .second-utils-left, 
    .second-utils-right, 
    .utils,
    .footer-box  {
        display: block;
    }
    .utils {
        margin-left: 3.5%;
    }
    .second-utils-left p, .second-utils-right p, .utils p {
        margin-bottom: 10px;
        width: 100%;
        font-size: 14px;
    }
    #date, #cookie {
        margin-bottom: 20px;
    }

    .footer-box {
        padding-top: 10px;
    }

    .footer-box-right {
        display: flex;
        justify-content: flex-start;
    }

    /* produits */
    .product-card {
        width: 100%;
        margin-bottom: 150px;
        margin-right: 0;
        height: 10rem;
    }

    .content-body {
        justify-content: space-around;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
        /* background-color: red; */
    }

    .product-card .product-img {
        height: 10rem;
    }

    .details-produit {
        display: flex;
        flex-direction: column-reverse;
        /* background-color: red; */
    }

    .image-produit {
        width: 100%;
        display: block;
        /* padding-top: 0; */
    }

    .image-produit .image-item {
        width: 100%;
        height: 32rem;
        /* background-color: red; */
        margin-bottom: 15px;
    }

    .infos-produit {
        width: 100%;
    }

    #details-description {
        display: none;
    }

    /* #payment, #add-favorite {
        margin-left: 18px;
    } */

    .category, .product_name, #prix-s {
        margin-left: 20px;
    }

    .button-div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px 0px 20px;
        /* background-color: red; */
    }

    #panier {
        width: 80%;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }

    .container-details-products {
        width: 90%;
        padding: 0px 20px 0px 20px;
    }

    .container-details {
        width: 90%;
        padding: 0px 20px 0px 20px;
        /* background-color: red; */
        margin-bottom: 50px;
    }

    #secondPayment {
        margin-left: 0;
    }

    .small_image {
        display: none;
    }
  }